html {

}

/*generals*/


body {
background-color: #CEEFE8;
z-index: 1;
}

.container-fluid {
  max-width: 1040px;
}

.img-container {
  max-width: 100%;

  margin: 0;
  padding: 0;
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
}

/*jumbotron*/
.jumbotron {
  position: relative;
  padding: 0 !important;
  margin-top: 70px !important;
  align-items: center;
  background-color: #CEEFE8;
}

.row div img {
  width: 100%;
}

.mobile-tron {
  display: none;
}

/*about section*/

.services {
	width: 100%;
	float: left;
	text-align: center;
	box-shadow: -2px 2px 6px #737373;
	position: relative;
  background-color: #EAECEE;
}

.services p {
	color: rgba(33, 33, 33, 0.8);
	margin: 1em;
}

.services h6 {
	color: #fff;
	font-size: 17px;
	text-transform: capitalize;
	letter-spacing: 1px;
	width: 100%;
	padding: 0.7em 0;
	background: rgb(0, 0, 0);
	border-bottom: 4px solid #47cf73;
	bottom: 0;
}

.services:hover h6 {
	background: #47cf73;
	border-bottom: 4px solid #000;
	transition: all 0.7s ease-in-out;
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
}

.services a {
	color: #47cf73;
	font-size: 2em;
	margin: 0.8em 0 0;
}

.services:hover {
	background: #fff;
  cursor: pointer;
}

.services:hover a {
	color: #000;
}

.services:nth-child(1),
.services:nth-child(2),
.services:nth-child(3) {
	margin-bottom: 1.5em;
}

/*-- about-right --*/

.about-right {
	padding: 0;
	position: relative;
}

.personal {
	padding: 3em;
	background: #47cf73;
  height: 666px;
	left: 3em;
	top: 4.4em;
	box-shadow: -3px 7px 15px rgba(21, 21, 21, 0.38);
  border: 24px solid #000;
}

.personal ul li {
	list-style: none;
	display: block;
	margin-bottom: 25px;
	color: #fff;
	text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.62);
	font-size: 16px;
	letter-spacing: 0.5px;
}

.personal ul li span {
	width: 141px;
	display: inline-block;
	color: #000;
	text-shadow: none;
	font-weight: 500;
}

.para-personal {
  color: white;
  margin-bottom: 20px;
}

.personal ul {
  margin: 20px auto;
}

.spanfirst {
  color: black;
}

.personal .button {
  margin-bottom: 20px;
}

/*web development page*/


.web-nav a {
  font-family: 'Ranga', cursive;
  font-size: 36px;
}

.web-dev {
  margin-top: 70px;
  color: #FFFEF7;
  background-image: url(../images/webbackground.jpg);
  z-index: 5;
  background-size: cover;
}

.web-des ul {
  margin-left: 50px;
}

.web-des button {
  margin-bottom: 20px;
}

.web-des h4 {
  margin: 15px auto;
}

.web-des {
  margin-bottom: 50px;
}

/*gis page*/

.gis-nav a {
  font-family: 'Ranga', cursive;
  font-size: 36px;
}

.gis {
  margin-top: 70px;
  color: black;
  background-color: #EBEBEB;
}

.gis-des button {
  margin-bottom: 15px;
}

.gis-des h4 {
  margin: 15px auto;
}

/*forestry page*/

.forestry-nav a {
  font-family: 'Ranga', cursive;
  font-size: 36px;
}

.forestry {
  margin-top: 70px;
  color: black;
  background-color: #EBEBEB;
}

.forestry-des button {
  margin-bottom: 15px;
}

.forestry-des h4 {
  margin: 15px auto;
  padding-left: 15px;
}

.forestry-des ul {
  margin-left: 50px;
}

.forestry-pics {
  margin-bottom: 75px;
}

.forestry-pics img {
  border: black;
  border-style: solid;
  border-width: 10px;
}

/*media query section*/
.alt-about-me {
  display: none;
  margin: 230px 15px auto 15px;
}

@media (max-width: 970px) {
  .jumbotron {
    display: none;
  }
  .about-me {
    display: none;
  }
  .about-right {
    display: none;
  }
  .personal {
    height: auto;
  }
  .alt-about-me {
    display: block;
  }
}
